In [3]:
import pandas as pd
import scipy.stats as scs

In [2]:
df = pd.read_csv('cs2M.csv')
df

     BP  Chlstrl  Age  Prgnt  AnxtyLH  DrugR
0   100      150   20      0        0      0
1   120      160   16      0        0      0
2   110      150   18      0        0      0
3   100      175   25      0        0      0
4    95      250   36      0        0      0
5   110      200   56      0        1      0
6   120      180   59      0        1      0
7   150      175   45      0        1      0
8   160      185   40      0        1      0
9   125      195   20      1        0      0
10  135      190   18      1        0      0
11  165      200   25      1        0      0
12  145      175   30      1        0      0
13  120      180   28      1        0      0
14  100      180   21      1        0      0
15  100      160   19      1        0      1
16   95      250   18      1        0      1
17  120      200   30      1        0      1
18  125      240   29      1        0      1
19  130      172   30      1        0      1
20  120      130   35      1        1      1
21  120      140   38      1        1      1
22  125      160   32      1        1      1
23  115      185   40      1        1      1
24  150      195   65      0        1      1
25  130      175   72      0        1      1
26  170      200   56      0        1      1
27  145      210   58      0        1      1
28  180      200   81      0        1      1
29  140      190   73      0        1      1

In [5]:
t_test = scs.ttest_1samp(df['Age'], popmean = 40)
print(t_test)

Ttest_1sampResult(statistic=-0.6508028129368016, pvalue=0.5202973762980163)

In [8]:
df2 = pd.read_csv('grades.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sr_No          105 non-null    int64
 1   id             105 non-null    object
 2   lastname       105 non-null    object
 3   firstname      105 non-null    object
 4   gender         105 non-null    int64
 5   ethnicity      105 non-null    int64
 6   year           105 non-null    int64
 7   lowup          105 non-null    int64
 8   section        105 non-null    int64
 9   gpa            105 non-null    int64
 10  extrc          105 non-null    int64
 11  review         105 non-null    int64
 12  quiz1          105 non-null    int64
 13  quiz2          105 non-null    int64
 14  quiz3          105 non-null    int64
 15  quiz4          105 non-null    int64
 16  quiz5          105 non-null    int64
 17  final          105 non-null    int64
 18  total          105 non-null    int64
 19  percent        105 non-null    int64
 20  grade          105 non-null    object
 21  passfail       105 non-null    object
 22  ethnicity_1_4  105 non-null    int64
 23  percentSQRT    105 non-null    float64
dtypes: float64(1), int64(18), object(5)
memory usage: 19.8+ KB

In [9]:
pair = scs.ttest_rel(df2['quiz1'],df2['quiz2'])
print(pair)

Ttest_relResult(statistic=-2.8717061192333544, pvalue=0.004948312027218486)